<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Modifica Volo</title>
    <link rel="stylesheet" th:href="@{/css/admin-new-flight.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">

    <script>
        function validateDates() {
            const departureTime = document.getElementById('departureTime').value;
            const arrivalTime = document.getElementById('arrivalTime').value;

            if (departureTime && arrivalTime) {
                if (arrivalTime <= departureTime) {
                    alert('La data di arrivo deve essere maggiore della data di partenza.');
                    return false; // Impedisce l'invio del form
                }
            }
            return true; // Permette l'invio del form
        }

        function goback(){
            window.history.back();
        }

        let selectedForm = null;

function openModal(form) {
    selectedForm = form;
    document.getElementById('confirmationModal').style.display = 'flex';
}

function closeModal() {
    selectedForm = null;
    document.getElementById('confirmationModal').style.display = 'none';
}

document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll("form button[type='submit']");
    buttons.forEach(button => {
        button.addEventListener("click", function (e) {
            e.preventDefault();
            if (validateDates()) {

                const form = this.closest("form");
                openModal(form);
            }
        });
    });

    document.getElementById("confirmChange").addEventListener("click", function () {
        if (selectedForm) {
            selectedForm.submit();
        }
    });
});
    </script>
</head>

<body>
    <div class="container">
        <h1>Modifica Volo [[${flight.id}]]</h1>
        <form th:action="@{'/admin/edit-flight/' + ${flight.id}}" method="post" onsubmit="return validateDates()">
            <!-- ID del volo (non modificabile) -->
            <input type="hidden" name="id" th:value="${flight.id}" />


            <!-- Partenza -->
            <label for="departureCity">Partenza:</label>
            <select id="departureCity" name="departureCity" required>
                <option th:each="airport : ${airports}" th:value="${airport.city}" th:text="${airport.city}"
                    th:selected="${airport.city == flight.departureCity}">
                </option>
            </select>
            <!-- Arrivo -->
            <label for="arrivalCity">Arrivo:</label>
            <select id="arrivalCity" name="arrivalCity" required>
                <option th:each="airport : ${airports}" th:value="${airport.city}" th:text="${airport.city}"
                    th:selected="${airport.city == flight.arrivalCity}">
                </option>
            </select>
            <!-- Data partenza -->
            <label for="departureTime">Data partenza:</label>
            <input type="datetime-local" id="departureTime" name="departureTime"
                th:value="${#dates.format(flight.departureTime, 'yyyy-MM-dd''T''HH:mm')}" required /><br><br>

            <!-- Data arrivo -->
            <label for="departureTime">Data arrivo:</label>
            <input type="datetime-local" id="arrivalTime" name="arrivalTime"
                th:value="${#dates.format(flight.arrivalTime, 'yyyy-MM-dd''T''HH:mm')}" required /><br><br>

            <!-- Passeggeri -->
            <label for="passengers">Passeggeri:</label>
            <input type="number" id="passengers" name="passengers" th:value="${flight.passengers}" min="0"
                required /><br><br>

            <!-- Bagagli -->
            <label for="goods">Peso Bagagli (kg):</label>
            <input type="number" id="goods" name="goods" th:value="${flight.goods}" min="0" required /><br><br>

            <!-- Aereo -->
            <label for="idAirplane">Tipo Aereo:</label>
            <select id="idAirplane" name="idAirplane" required>
                <option th:each="plane : ${airplanes}" th:value="${plane.typeAirplane}" th:text="${plane.typeAirplane}"
                    th:selected="${plane.typeAirplane == flight.idAirplane}">
                </option>
            </select><br><br>

                <button type="submit">Aggiorna</button>
        </form>
        <div style="margin-top:20px;">
            <a href="/admin/select-flight-to-edit">⟵ Torna indietro</a>
        </div>
</div>

<div class="modal-confirm-overlay" id="confirmationModal" style="display: none;">
    <div class="modal-confirm">
        <p>Confermi di voler modificare il volo ? </p>
        <div class="modal-confirm-buttons">
            <button id="confirmChange">Conferma</button>
            <button type="button" onclick="closeModal()">Annulla</button>
        </div>
    </div>
</div>
</body>

</html>