<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/homepage.css}" />
</head>

<body>
    <div style="text-align: right;">
        <a th:href="@{/admin/login-page}">Login</a>
    </div>

    <h1>Claudio's AIRPORT</h1>

    <form th:action="@{/search-flights}" method="post">
        <label for="from">Departure Airport</label>
        <select id="from" name="from" required>
            <option th:each="airport : ${airports}" th:value="${airport.city}" th:text="${airport.city}"></option>
        </select>

        <label for="to">Arrival Airport</label>
        <select id="to" name="to" required>
            <option th:each="airport : ${airports}" th:value="${airport.city}" th:text="${airport.city}"></option>
        </select>

        <label for="date">Flight Date</label>
        <input type="date" id="date" name="date" required />

        <label for="numPassengers">Number of Passengers</label>
        <input type="number" id="numPassengers" name="numPassengers" placeholder="1" min="1" required />

        <label for="baggageWeight">Baggage Weight (kg)</label>
        <input type="number" id="baggageWeight" name="baggageWeight" min="0" placeholder="2" />

        <button type="submit">Search flight</button>
    </form>
</body>

</html>