<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <style>
        .top-right {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <div style="text-align: right;">
        <a th:href="@{/admin/login}">Login</a>
    </div>

    <h1>Benvenuto nella pagina principale!</h1>
    
    <form th:action="@{/search-flights}" method="post">
        <label for="from">Aeroporto di partenza</label>
        <select id="from" name="from" required>
            <option th:each="airport : ${airports}" th:value="${airport.city}" th:text="${airport.city}"></option>
        </select>
        
        <label for="to">Aeroporto di arrivo</label>
        <select id="to" name="to" required>
            <option th:each="airport : ${airports}" th:value="${airport.city}" th:text="${airport.city}"></option>
        </select>
        
        <label for="date">Data volo</label>
        <input type="date" id="date" name="date" required />
                
        <label for="numPassengers">Numero persone</label>
        <input type="number" id="numPassengers" name="numPassengers" placeholder="1" required />
        
        <label for="baggageWeight">Peso bagaglio (in kg)</label>
        <input type="number" id="baggageWeight" name="baggageWeight" placeholder="2" required />
        
        <button type="submit">Cerca voli</button>
    </form>
</body>
</html>
